@color-test: #437c29;

@color-white: #ffffff;
@color-text: #000000;
@color-bg: #efefef;
@color-accent: #c94854;

@color-btn: #ac9182;
@color-btn-hover: #9d7c6b;
@color-btn-active: #886a5a;

// Display

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@transition: all 0.2s ease 0s;