@import (reference) '../../less/variables.less';

.recommendations {
  padding-bottom: 57px;

  &__text {
    margin: 0 auto 8px;
  }

  &__list {
    padding-left: 22px;
  }

  &__item {
    padding-left: 2px;
  }
}

.recommendations .recommendations__title {
  margin: 0 auto 15px;
  letter-spacing: normal;
}

@media (min-width: @desktop-medium)  {
  .recommendations {
    padding-bottom: 120px;

    &__wrapper {
      display: grid;
      grid-template-columns: 459px 1fr;
      gap: 0 62px;
    }

    &__title {
      position: sticky;
      top: 160px;
      grid-column: 1;
    }

    &__text {
      grid-column: 2;
      margin-bottom: 16px;
    }

    &__list {
      grid-column: 2;
      margin-left: 11px;
    }
  }

  .recommendations .recommendations__title {
    text-align: left;
    letter-spacing: normal;
  }
}
