@import (reference) '../../less/variables.less';

.footer {
  padding-bottom: 32px;

  &__nav-list {
    display: none;
  }

  &__link {
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    color: @color-secondary-text;

    &--phone {
      margin-bottom: 6px;
      font-size: 20px;
      line-height: 22px;
    }

    &--address {
      display: inline-block;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 21px;
      border-bottom: 1px dashed;
    }
  }

  &__copyright {
    display: flex;
    margin-bottom: 16px;
  }

  &__logo {
    display: flex;
    width: 208px;
    height: 32px;
    
    &-img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: @desktop-medium) {

  .footer {
    padding-bottom: 40px;
    
    &__nav-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid @color-border;
      margin-bottom: 24px;
      padding: 18px 0 17px;
    }

    &__nav-item {
      position: relative;
    }

    &__sub-nav-list {
      position: absolute;
      bottom: 100%;
      padding: 16px 24px;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: @transition;
      white-space: nowrap;
    }

    &__nav-link {
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 1px;
      color: @color-secondary-text;
    }

    &__sub-nav-list &__nav-link {
      color: @color-text;
    }

    &__wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }

    &__logo {
      width: 220px;
      height: 34px;
      margin-right: auto;
    }

    &__copyright {
      margin-bottom: 0;
      margin-right: 99px;
    }

    &__copyright-icon {
      width: 142px;
      height: 28px;
    }

    &__link {
      font-weight: 400;

      &--phone {
        position: relative;
        top: 1px;
        right: -2px;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 26px;
      }

      &--address {
        position: relative;
        top: -1px;
        margin-bottom: 0;
        margin-right: 38px;
        font-size: 18px;
        line-height: 25px;
      }
    }

    &__nav-arrow {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 6px;
      border: 1px solid @color-secondary-text;
      border-left-color: transparent;
      border-bottom-color: transparent;
      transform: translateY(-50%) rotate(135deg);
      transition: @transition;
      cursor: pointer;
    }

    &__nav-item--active > &__nav-arrow {
      transform: rotate(-45deg);
    }

    &__nav-item--active > &__sub-nav-list {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}