@import (reference) '../../less/variables.less';

.slider {
  display: block;
  max-width: 100%;
  padding: 0 0 32px 16px;
  overflow: hidden;

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__slide {
    margin-right: 16px;
  }

  &__card {
    width: 254px;
    padding: 16px;
  }

  &__card-title {
    margin-bottom: 8px;
  }

  &__card-text {
    display: flex;
    gap: 8px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: @desktop-medium) {

  .slider {
    padding: 0 0 40px 40px;

    &__card {
      width: 352px;
      padding: 24px;
    }
  }
}