@import (reference) '../../less/variables.less';

.modal[aria-hidden="true"] {
  display: none;
}

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: rgba(0,0,0,0.6);
    z-index: 10000;
  }

  &__container {
    position: relative;
    border-radius: 12px 12px 0 0;
    width: 100%;
    padding: 40px 16px 32px;
    background-color: @color-white;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &--map &__overlay {
    align-items: center;
  }

  &--map &__container {
    display: flex;
    align-items: flex-end;
    border-radius: 0;
    min-height: 640px;
    padding: 40px 0 32px 16px;
    background: no-repeat @color-white url("./modal-map.jpg") center / cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url('./modal-map@2x.jpg');
    }
  }

  &--map &__close {
    top: 24px;
    right: 24px;
  }
}

.modal .modal__title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
}

// Animation Style

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.modal--slide {
  display: none;
}

.modal--slide.is-open {
  display: block;
}

.modal--slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal--slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal--slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal--slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal--slide .modal__container,
.modal--slide .modal__overlay {
  will-change: transform;
}